div.breadcrumb_container{
	position: relative;
}

div[class^="breadcrumb_element"]{
	float: left;
	padding: 5px;
}

div.breadcrumb_token{
	float: left;
	padding: 5px;
}

/* DivTable.com */
.divTable{
	display: table;
	
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}